    .scrollable-content::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    /* background: rgba(0, 0, 0, .4); */
    background: wheat;
    border-radius: 3px;
  }
  .scrollable-content::-webkit-scrollbar-track:hover {
    background: wheat;
    border-radius: 3px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: #2a3c7e;
    border-radius: 3px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background-color: #2a3c7e;
  }
  
  