.preloader-container {
    display: flex;
    height: 100vh;
}
  
  .morphing-text {
    font-size: 2rem;
    font-weight: bold;
    animation: morphText 1s infinite alternate;
  }
  
  @keyframes morphText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  